body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background-color: #f0f8ff;
}

.container {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #c4c4c4;
}

.navbar {
    outline: 2px solid #c4c4c4;
    background-color: #343a40;
    color: #ffffff;
    border-radius: 25px;
}

.card {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #208335;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    resize: vertical;
}

textarea:focus {
    border-color: #28a745;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.jumbotron:hover {
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}